@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dove-gray: #717171;
  --endeavour: #025cb1;
  --wild-sand: #f5f5f5;
  --alto-light: #cecece;
  --azure-radiance: #0381f9;
}

::-webkit-scrollbar {
  width: 7px;
}

.auth-scroll {
  /* firefox scroll styling */
  scrollbar-width: thin;
  scrollbar-arrow-color: var(--dove-gray);
  scrollbar-color: var(--dove-gray) transparent;
}

.auth-scroll::-webkit-scrollbar-track {
  background-color: var(--alto-light);
}

.auth-scroll::-webkit-scrollbar-thumb {
  background-color: var(--dove-gray);
}

.home-scroll {
  /* firefox scroll styling */
  scrollbar-width: thin;
  scrollbar-color: var(--azure-radiance) var(--alto-light);
}

.home-scroll::-webkit-scrollbar-track {
  background-color: var(--alto-light);
}

.home-scroll::-webkit-scrollbar-thumb {
  background-color: var(--azure-radiance);
}

.scroll-hidden {
  scrollbar-width: none; /* firefox scroll styling */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .home-scroll {
    scrollbar-color: var(--endeavour) var(--alto-light);
  }

  .home-scroll::-webkit-scrollbar-thumb {
    background-color: var(--endeavour);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 1.6rem rgba(255, 255, 255, 0);
  }
}

.ripple {
  width: 1rem;
  height: 1rem;
  display: grid;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--wild-sand);
  animation: ripple 3s linear infinite;
}

.ripple::before,
.ripple::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}

.ripple::after {
  animation-delay: 2s;
}

/* Tablets */
@media screen and (max-width: 768px) {
  .auth-scroll {
    scrollbar-width: none; /* firefox scroll styling */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .auth-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
